:root
{
    --pColor_01:                rgb(103,188,69);
    --pColor_02:                rgb(0,166,82);
    --pColor_03:                rgb(0,144,143);
    --pColor_04:                rgb(16,129,197);
    --pColor_05:                rgb(196,196,208);
    
}
/*
:root
{
    --pColor_01:                rgb(148,42,56);
    --pColor_02:                rgb(196,196,208);
    --pColor_03:                rgb(217,190,171);
    --pColor_04:                rgb(89,79,78);
    
}*/

body
{
    width:                      100%;
    margin:                     0;
    padding:                    0;
    font-family:                'Montserrat', 'Courier New', Courier, monospace;
}
#cover
{
    width:                      100%;
    margin:                     0;
    background-color:           var(--pColor_04);
    background-image:           url('C:/Users/diego/Documents/Proyectos/VentaPaletas/VentaPaletas/img/portada1.jpg');
    background-image:           url('img/portada1.jpg');
    background-repeat:          no-repeat;
    background-size:            cover;
}

.fullContent h1
{
    text-align:                 center;
    padding:                    40px 0px;
    font-size:                  50px;
    margin:                     0px auto;
}

#cover .fullContent
{
    backdrop-filter:            blur(8px);
    background:                 rgba(38, 161, 58, 0.2);
    width:                      100%;
    margin:                     0;
 
}

#cover h1
{
    margin:                     0;
    color:                      #fff;
    font-size:                  80px;
    position:                   relative;
    top:                        300px;
}

#cover #botones
{
    text-align:                 center;
    color:                      #fff;
    font-size:                  24px;
    position:                   relative;
}
@media (min-width: 500px) {
    #cover #botones
    {
        font-size:                  30px;
    }
}
#botones .col
{
    transition-duration:        0.5s;
    position:                   relative;
    top:                        0px;
}

#botones .col:hover
{
    cursor:                     pointer;
    top:                        -10px;
    text-shadow:                var(--pColor_01) 0px 0px 20px;
}

.catalogo
{
    margin:                     30px auto;
}

.catalogo .row .col
{
    text-align:                 center;
    transition:                 0.5s;
    position:                   relative;
    top:                        0;
    padding:                    0 10px;
}
.catalogo .row .col:hover
{
    cursor:                     pointer;
    top:                        -10px;
    /*box-shadow:                 0px 10px 20px 5px var(--pColor_04);*/
}


.catalogo .row .col p.precio
{
    color:                      var(--pColor_02);
    font-weight: 600;
}

.catalogo .row .col p
{
    font-size:                  18px;
    margin-bottom:              0px;
    padding-bottom:             16px;
}

.catalogo img
{
    width:                      75%;
}
@media (min-width: 500px) {
    .catalogo .row .col p
    {
        font-size:                  24px;
    }
}
